<!-- Reset CSS -->
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
<!-- fine reset css -->

<!-- Stile CSS -->
section{
    padding: 30px;
}
.col-30{
    width: 30%;
    margin-bottom: 45px;
    margin-top: 35px;
    
}
img {
    max-width: 100%;
}

.container{
    width: 80%;
   max-width: 1500px;
   margin: 0 auto;
   position: relative;
   
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}
.discount{
    background-color: red;
    bottom: 85px;
    position: absolute;
    color: white;
    width: 50px;
    text-align: center;
    height: 25px;
    align-content: center;
    border-radius: 5px;    
}
.card{
    position: relative;

}
.eco{
    background-color: green;
    bottom: 75px;
    position: absolute;
    color: white;
    font-size: 0.9rem;
    height: 30px;
    width: 100px;
    text-align: center;
    align-content: center;
    border-radius: 5px;

}
.eco2{
    background-color: green;
    bottom: 80px;
    position: absolute;
    color: white;
    left: 54px;
    height: 30px;
    width: 100px;
    text-align: center;
    align-content: center;
    border-radius: 5px;

}
.line-through{
    text-decoration: line-through;
}
.like{
    background-color: rgb(255, 255, 255);
    font-size: 1.5rem;
    width: 10%;
    position: absolute;
     left: 95%;
  bottom: 92%;
  transform: translateX(-50%);
  border: 0;
}
.like:hover{
    cursor: pointer;
    background-color: red;
}
.card > img:hover{
    cursor: pointer;
    
}
.miaomi{
    display: flex;
    gap: 50px;
    text-align: center;
    align-items: center;
    flex-direction: row;
}
.header{
    display: flex;
    background-color: #ff4c00;
    color: white;
    padding: 20px 0;
    margin-bottom: 10px;
    max-height: 70%;
    
}
.logo
{display: flex;}
.logos{
    display: flex;
}
<!--fine stile css -->