*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    padding: 30px;
}
.col-30{
    width: 30%;
    
}
img {
    max-width: 100%;
}

.container{
    width: 80%;
   max-width: 1500px;
   margin: 0 auto;
   
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}
.discount{
    background-color: red;
    bottom: 50px;
    position: absolute;
}
.card{
    position: relative;

}
img{
    max-width: 100%;
}
